* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: #000000;
}

.header {
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-rows: 7vh 13vh;
}

.header .header__icons-container {
    width: 100%;
    display: grid;
    justify-items: end;
    align-items: center;
    background-color: #47cfac;
}

.header .header__icons {
    width: 350px;
    display: flex;
    gap: 15px;
}

.header .header__icon {
    color: #ffffff;
}

.header__nav {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    align-items: center;
}

.header__nav .nav__logo {
    width: 220px;
}

.header__nav .nav__profile-container {
    justify-self: end;
}

.header__nav .nav__profile-link{
    font-weight: bold;
    color: black;
    border-bottom: 1px solid black;
}

.main-index {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background-image: url(../assets/img/Cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-index .main-index__container {
    display: grid;
    width: 80%;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: end;
}

.main-index .main-index__title {
    text-align: center;
    letter-spacing: 10px;
    color: #ffffff;
}

.main-index .main-index__link {
    width: 110px;
    height: 40px;
    padding: 7px 0;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #47cfac;
    text-align: center;
    color: #000000;
}

.main-blogs {
    width: 100%;
    margin-bottom: 80px;
}

.main-blogs .main-blogs__info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(380px, 490px));
    justify-content: center;
    background-color: #e6e9ed;
}

.main-blogs__info .main-blogs__news {
    width: 90%;
    display: grid;
    padding: 15px 0 35px;
    justify-self: end;
    align-self: center;
    gap: 20px;
}

.main-blogs__news .news__img-container {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.news__img-container .news__img {
    width: 100%;
    height: 100%;
}

.main-blogs__info .main-blogs__last-blog {
    width: 70%;
    display: grid;
    justify-self: center;
    align-self: center;
    gap: 15px;
}

.main-blogs__last-blog .last-blog__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.link {
    width: 90px;
    text-align: center;
    border: 1px solid #47cfac;
    padding: 10px 5px;
    font-size: 1.2rem;
}

.link:hover {
	border: 1px solid white;
	color: white;
	background-color: #47cfac;
}

.main-blogs__all-blogs {
    max-width: 980px;
    display: grid;
    margin: 0 auto;
}

.main-blogs__all-blogs .main-blogs__container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    gap: 20px;
}

.main-blogs__container .container__title {
    width: 100%;
    grid-column: 1 / 4;
    text-align: center;
    line-height: 6rem;
    border-bottom: 1px solid #cdd2da;
}

.main-blogs__container .container__blog {
    display: grid;
    width: 90%;
    gap: 20px;
}

.container__blog .blog__img-container {
    max-width: 100%;
    height: 150px;
}

.container__blog .blog__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container__blog .blog__title {
    margin-bottom: 10px;
}

.container__blog .blog__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.main-blog {
    width: 100%;
    display: grid;
    justify-items: center;
}

.main-blog .main-blog__img-container {
    max-width: 980px;
    height: 100%;
    margin-bottom: 40px;
    display: grid;
    justify-items: center;
}

.main-blog__img-container .main-blog__img {
    width: 95%;
    height: 100%;
    object-fit: contain;
}

.main-blog .main_blog__body {
    max-width: 980px;
    display: grid;
    justify-items: center;
    gap: 20px;
}

.main-blog .main-blog__subtitle {
    width: 85%;
    line-height: 6rem;
    border-bottom: 1px solid #cdd2da;
}

.main_blog__body .main-blog__container {
    width: 85%;
    display: grid;
    gap: 20px;
}

.main-blog__container .main-blog__title {
    font-size: 3.5rem;
}

.main-blog__contact-container {
    width: 100%;
    height: 250px;
    margin-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    background-color: #e6e9ed;
}

.main-blog__contact-container .main-blog__contact,
.main-blog__contact-container .main-blog__write {
    max-width: 480px;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    place-content: center;
    gap: 10px;
}

.main-blog__contact .contact__img-container,
.main-blog__write .write__img-container  {
    width: 100px;
    height: 100px;
    grid-row: 1 / 3;
}

.contact__img-container .contact__img,
.write__img-container .write__img {
    width: 100%;
    height: 100%;
}

.main-blog__contact .contact__info,
.main-blog__write .write__info {
    align-self: end;
}

.title--underlined {
    border-bottom: 1px solid #000000;
}

.title--underlined:hover {
    color: #ffffff;
    border-bottom-color: #ffffff;
}

.main-profile {
    width: 100%;
}

.main-profile .main-profile__profile-data {
    width: 100%;
    display: grid;
    justify-items: center;
    background-color: #e6e9ed;
}

.main-profile__profile-data .profile-data__container {
    max-width: 980px;
    max-height: 400px;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.profile-data__container .profile-data__img-container {
    width: 90%;
    height: 100%;
    justify-self: end;
}

.profile-data__img-container .profile-data__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile-data__container .profile-data__info {
    width: 90%;
    height: 80%;
    align-self: center;
    display: grid;
    align-content: center;
    gap: 15px;
}

.main-profile__projects {
    width: 100%;
    display: grid;
    justify-items: center;
}

.main-profile__projects .projects-container {
    max-width: 980px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.projects-container .projects-container__title {
    width: calc(90% + 30px);
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #cdd2da;
}

.projects-container-grid {
    width: calc(90% + 30px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.projects-container__project .project__title{
    margin: 20px 0;
}

.footer {
    width: 100%;
    height: 80px;
    display: grid;
    background-color: #000000;
    border-top: 25px solid #47cfac;
}

.footer .footer__text {
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #ffffff;
}