* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-rows: 7vh 13vh;
}

.header .header__icons-container {
    width: 100%;
    display: grid;
    justify-items: end;
    align-items: center;
    background-color: #47cfac;
}

.header .header__icons {
    width: 350px;
    display: flex;
    gap: 15px;
}

.header .header__icon {
    color: #ffffff;
}

.header__nav {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    align-items: center;
}

.header__nav .nav__logo {
    width: 220px;
}

.header__nav .nav__profile-container {
    justify-self: end;
}

.header__nav .nav__profile-link{
    font-weight: bold;
    color: black;
    border-bottom: 1px solid black;
}

.main {
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background-image: url(../assets/img/Cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main .main__container {
    display: grid;
    width: 80%;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: end;
}

.main .main__title {
    text-align: center;
    letter-spacing: 10px;
    color: #ffffff;
}

.main .main__link {
    width: 110px;
    height: 40px;
    padding: 7px 0;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #47cfac;
    text-align: center;
    color: #000000;
}