<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@500;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fonts/flaticon.css">
</head>
<body>
    <header class="header">
        <div class="header__icons-container">
            <div class="header__icons">
                <a href="/">
                    <span class="flaticon-001-facebook header__icon"></span>
                </a>
                <a href="/">
                    <span class="flaticon-002-twitter header__icon"></span>
                </a>
                <a href="/">
                    <span class="flaticon-011-instagram header__icon"></span>
                </a>
                <a href="/">
                    <span class="flaticon-010-linkedin header__icon"></span>
                </a>
                <a href="/">
                    <span class="flaticon-008-youtube header__icon"></span>
                </a>
            </div>
        </div>
        <nav class="header__nav">
            <figure class="nav__logo-container">
                <a class="nav__logo--link" href="/">
                    <img
                        class="nav__logo"
                        src="../assets/img/Logo-negro.png"
                        alt="Logo del Blog"
                    >
                </a>
            </figure>
            <div class="nav__profile-container">
                <a class="nav__profile-link" href="./views/profile.html">Sobre mí</a>
            </div>
        </nav>
    </header>
    <main class="main-blog">
        <section class="main-blog__img-section">
            <figure class="main-blog__img-container">
                <img class="main-blog__img" src="" alt="">
            </figure>
        </section>
        <section class="main_blog__body">
            <h3>Noticias</h3>
            <h2>Título del Blogspot</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam temporibus unde quo corporis quibusdam voluptatum ipsam possimus? Ipsa fuga perspiciatis non, laudantium blanditiis nam. Voluptatum atque eaque sit libero at.
                Ratione non, facilis consequatur quae quo minus, dolor distinctio veritatis tempore animi iusto perferendis, expedita sed eum natus voluptatem? Nostrum voluptatibus error similique quam obcaecati rem adipisci omnis! Dicta, sed?
                Perspiciatis doloremque fugiat nemo eos tempora officia unde modi nostrum, maiores totam! Labore quia est ipsa praesentium, deleniti unde neque porro alias incidunt odio fuga officiis, totam blanditiis quod. Cupiditate!
                Magni ipsum, iste eum numquam, quas ipsa quibusdam sequi, quaerat dolore veritatis quia fugiat optio soluta? Eaque, necessitatibus cupiditate! Libero quisquam deleniti ratione officiis ipsa voluptatem reprehenderit fugit earum ullam.
                Corporis deleniti eligendi incidunt rerum repellendus quos! Illo, animi illum optio possimus veniam dolore beatae, quasi consectetur perspiciatis nihil commodi sed, est accusantium. Obcaecati velit sit ipsum nesciunt nemo expedita?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur tenetur exercitationem provident a quisquam praesentium perferendis sit similique eius, reprehenderit esse sequi facere molestiae nesciunt voluptatem repellendus, adipisci qui dolores.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, corporis repudiandae quod atque ipsa officia asperiores similique saepe esse quae, sequi rem facere ab culpa molestias omnis quisquam nostrum ipsum.
                Nemo numquam, ab soluta fugiat sed amet, laudantium aut placeat, odit distinctio est vel id ullam cum iusto eaque cumque suscipit impedit reprehenderit temporibus inventore! Rerum temporibus autem odio soluta?
                Asperiores est expedita repellendus perferendis possimus nobis earum itaque nihil? Optio quam quas minima blanditiis perspiciatis quasi alias quidem, fuga a, ratione, architecto aliquam sapiente in maxime expedita et consequuntur.
                Reiciendis repellendus distinctio minus officiis voluptatum aliquid vel totam? Quos corporis animi doloribus labore, est saepe nobis exercitationem tenetur sint quisquam eius impedit error adipisci blanditiis? Cumque harum aut quibusdam.
            </p>
        </section>
        <section class="main-blog__contact">
            <div>
                <figure><img src="" alt=""></figure>
                <h5>Contacto</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div>
                <figure><img src="" alt=""></figure>
                <h5>Escribe</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </footer>
</body>
</html>