<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@500;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fonts/flaticon.css">
</head>
<body>
    <header class="header">
        <div class="header__icons-container">
            <div class="header__icons">
                <a href="/">
                    <span class="flaticon-001-facebook header__icon"></span>
                </a>
                <a href="/">
                    <span class="flaticon-002-twitter header__icon"></span>
                </a>
                <a href="/">
                    <span class="flaticon-011-instagram header__icon"></span>
                </a>
                <a href="/">
                    <span class="flaticon-010-linkedin header__icon"></span>
                </a>
                <a href="/">
                    <span class="flaticon-008-youtube header__icon"></span>
                </a>
            </div>
        </div>
        <nav class="header__nav">
            <figure class="nav__logo-container">
                <a class="nav__logo--link" href="/">
                    <img
                        class="nav__logo"
                        src="../assets/img/Logo-negro.png"
                        alt="Logo del Blog"
                    >
                </a>
            </figure>
            <div class="nav__profile-container">
                <a class="nav__profile-link" href="./views/profile.html">Sobre mí</a>
            </div>
        </nav>
    </header>
    <main class="main-profile">
        <section class="main-profile__profile-data">
            <div class="profile-data__container">
                <figure class="profile-data__img-container">
                    <img class="profile-data__img" src="../assets/img/profile-pic.jpg" alt="Foto de perfil">
                </figure>
                <div class="profile-data__info">
                    <h2 class="profile-data__name">Hola!, Soy Rolando</h2>
                    <p class="profile-data__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, consequuntur iure porro, nam esse laboriosam amet error voluptates odit, eum explicabo necessitatibus nobis doloremque beatae nisi! Illum placeat delectus veniam?</p>
                </div>
            </div>
        </section>
        <section class="main-profile__projects">
            <div class="projects-container">
                <h3 class="projects-container__title">Proyectos</h3>
                <div class="projects-container-grid">
                    <article class="projects-container__project">
                        <h4 class="project__title">Texto</h4>
                        <p class="project__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, facere! Excepturi, nemo placeat? Eos quisquam, ex sint eius reiciendis dolorum obcaecati repellendus ea amet, labore beatae officiis vitae, in pariatur?</p>
                    </article>
                    <article class="projects-container__project">
                        <h4 class="project__title">Texto</h4>
                        <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium maiores minus quis distinctio molestiae at placeat tenetur dicta! Quis, earum corporis. Rerum quaerat, voluptatibus incidunt maxime consequatur cupiditate nesciunt? Iste?</p>
                    </article>
                    <article class="projects-container__project">
                        <h4 class="project__title">Texto</h4>
                        <p class="project__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam omnis repellendus odit obcaecati quo, delectus blanditiis velit, laboriosam, porro nesciunt odio earum unde dolores neque veritatis iste veniam accusantium minima!
                        Nisi quo nam eveniet sed, cumque sunt quod veritatis maxime, dolorem delectus placeat ratione minima obcaecati? Distinctio earum, laudantium quibusdam id est ab, commodi cumque eaque sapiente illo explicabo! Atque?</p>
                    </article>
                </div>
            </div>
        </section>
        <section class="main-blog__contact-container">
            <div class="main-blog__contact">
                <figure class="contact__img-container">
                    <img class="contact__img" src="../assets/icons/013-newsletter.png" alt="Logo de contacto">
                </figure>
                <div class="contact__info">
                    <a class="contact__title" href="./profile.html">
                        <span class="title--underlined">
                            Contacto
                        </span>
                    </a>
                </div>
                <p class="contact__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="main-blog__write">
                <figure class="write__img-container">
                    <img class="write__img" src="../assets/icons/006-like.png" alt="Logo de escribir">
                </figure>
                <div class="write__info">
                    <a class="write__title" href="./blogs.html">
                        <span class="title--underlined">
                            Escribe
                        </span>
                    </a>
                </div>
                <p class="write__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </footer>
</body>
</html>